<div class="container">
  <form (submit)="selectedMenu1(selectedform)" #selectedform="ngForm">
    <input
      name="menuname"
      ngModel
      type="menuname"
      placeholder="Search here"
      #menunameInput="ngModel"
      required
      menuname
    />
    <button mat-raised-button color="accent" type="submit">Submit</button>
  </form>

  <div *ngIf="afterSearch.length >= 1">
    <div *ngFor="let item of afterSearch; let i = index">
      <div
        class="col-md-3 col-sm-6"
        style="display:flex;flex-wrap:wrap; flex-direction: row;"
      >
        <div class="thumbnail">
          <img [src]="item.image" alt="image" />
          <div class="caption">
            <h4>{{ item.name }}</h4>
            <h4>Cost is {{ item.cost }}</h4>
            <input
              type="number"
              [(ngModel)]="data.order[i].quantity"
              (ngModelChange)="getTotalBill()"
            />
          </div>
        </div>
      </div>
    </div>
  <button (click)="backtoMenu()"mat-raised-button color="accent" type="submit">Go Back to Menu</button>
  </div>


  <div *ngIf="afterSearch.length == 0">
    <div *ngFor="let item of data.allItems; let i = index">
      <div
        class="col-md-3 col-sm-6"
        style="display:flex;flex-wrap:wrap; flex-direction: row;"
      >
        <div class="thumbnail">
          <img [src]="item.image" alt="image" />
          <div class="caption">
            <h4>{{ item.name }}</h4>
            <h4>Cost is {{ item.cost }}</h4>
            <input
              type="number"
              [(ngModel)]="data.order[i].quantity"
              (ngModelChange)="getTotalBill()"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="totalCost > 0">Your total Bill is {{ totalCost }}</div>


