<div class="container">
  <div *ngFor="let item of data.allItems; let i = index">

      <div class="col-md-3 col-sm-6" style="display:flex;flex-wrap:wrap; flex-direction: row;" >
          <div class="thumbnail">
            <img [src]="item.image" alt="image" />
            <div class="caption">
              <h4>{{ item.name }}</h4>
              <h4>Cost is {{ item.cost }}</h4>
              <input
                type="number"
                [(ngModel)]="data.order[i].quantity"
                (ngModelChange)="getTotalBill()"
              />
            </div>

        </div>
      </div>
  </div>
</div>

<div *ngIf="totalCost > 0">Your total Bill is {{ totalCost }}</div>

<div *ngIf="data.isloggedin">
  <button (click)="onClick()">Add Menu</button>
</div>
