<mat-toolbar color="primary">
    <span>
      <a routerLink="/main" routerLinkActive="mat-accent"> Home </a>
    </span>
    <span class="spacer"></span>
    <ul>
      <li>
        <a mat-button routerLink="/menu" class="first_btn" routerLinkActive="mat-accent">View Menu</a>
      </li>
      <li *ngIf="!data.isloggedin">
        <a mat-button routerLink="/login" class="first_btn" routerLinkActive="mat-accent">Login</a>
      </li>
      <li *ngIf="!data.isloggedin">
          <a mat-button routerLink="/addcart" routerLinkActive="mat-accent"><i class="fa fa-shopping-cart" style="font: size 48px;color:white"></i>
            <span class='badge badge-warning' id='lblCartCount'> {{ getCartQuantity() }}</span></a>
      </li>

      <li *ngIf="data.isloggedin">
          <a mat-button routerLink="/logout" routerLinkActive="mat-accent">Logout</a>
      </li>

      <li *ngIf="data.isloggedin">
          <a mat-button routerLink="/user-profile" routerLinkActive="mat-accent">Account</a>
      </li>

    </ul>
  </mat-toolbar>







