<div class="container">
    <div class="page-header text-center">
        <h1>Payment with Credit Card</h1>
    </div>
    <!-- Credit Card Payment Form - START -->
    <form action="" method="POST" id="payment-form" (submit)="getToken()">
        <span class="payment-message">{{message}}</span>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-4 col-md-offset-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="row">
                            <h3 class="text-center">Payment Details</h3>
                            <div class="inlineimage"> <img class="img-responsive images" src="https://cdn0.iconfinder.com/data/icons/credit-card-debit-card-payment-PNG/128/Mastercard-Curved.png"> <img class="img-responsive images" src="https://cdn0.iconfinder.com/data/icons/credit-card-debit-card-payment-PNG/128/Discover-Curved.png"> <img class="img-responsive images" src="https://cdn0.iconfinder.com/data/icons/credit-card-debit-card-payment-PNG/128/Paypal-Curved.png"> <img class="img-responsive images" src="https://cdn0.iconfinder.com/data/icons/credit-card-debit-card-payment-PNG/128/American-Express-Curved.png"> </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <form role="form">
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="form-group"> <label>CARD NUMBER</label>
                                        <div class="input-group"> <input [(ngModel)]="cardNumber" name="card-number" type="text" size="20" data-stripe="number" class="form-control" placeholder="Valid Card Number"> <span class="input-group-addon"><span class="fa fa-credit-card"></span></span> </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-7 col-md-7">

                                    <div class="form-group"> <label><span class="hidden-xs">EXPIRATION</span>
                                      <span class="visible-xs-inline">EXP</span> DATE</label>
                                      <input [(ngModel)]="expiryMonthYear" name="expiry-month" type="tel" size="2" data-stripe="exp_month" placeholder="MM/Year"class="form-control" >
                                    </div>

                                </div>
                                <div class="col-xs-5 col-md-5 pull-right">
                                    <div class="form-group"> <label>CV CODE</label>
                                      <input [(ngModel)]="cvc" name="cvc" type="tel" size="4" data-stripe="cvc" class="form-control" placeholder="CVC" > </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="form-group"> <label>CARD OWNER</label> <input type="text" class="form-control" placeholder="Card Owner Name" /> </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="panel-footer">
                        <div class="row">
                            <div class="col-xs-12"> <button class="btn btn-success btn-lg btn-block">Confirm Payment</button> </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </form>
</div>

