.my-form{
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

mat-form-field {
  width: 100%;
}

mat-spinner {
  margin: auto;
}


.error {
  font: 4px;
  color: red;
  padding-bottom: 16px;
}

.noSpace {
  padding-bottom: 0px
}

.my-form{
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.full-width {
  width: 100%;
}
